body {
    background-color: rgb(231, 246, 243);
}

h1,
h2,
h3 {
    /* color: rgb(89, 127, 250); */
    color: #37b4b4;
}

#Name:hover {
    font-size: 50px;
    text-shadow: 2px 2px #34ff06;
}

h2:hover {
    text-decoration: underline;
}

hr {
    background-color: rgb(231, 246, 243);
    border-color: #37b4b463;
    width: 5%;
    border-style: dotted none none;
    border-width: 10px;
}

hr:hover {
    border-style: solid none none;
    border-color: #010f0ffa;
    width: 100%;
    height: 0;
    border-width: 2px;
    size: 1;
}

input,
textarea {
    background-color: rgb(221, 223, 250);
}

#linkedin {
    background-color: rgb(231, 246, 243);
    border-radius: 100%;
    width: 35px;
    height: 35px;
}

#linkedin:hover {
    width: 50px;
    height: 50px;
}

table:hover {
    border-color: rgb(0, 238, 255);
    border-radius: 10%;
    table-layout: auto;
}